*{
    margin: 0%;
    padding: 0%;
    font-family: gilroy;
}

html, body{
    box-sizing: border-box;
}

h3,h1,h4{
    text-align: center;
}

h1{
    color: rgb(208, 177, 1);
}

#content{
    width: 80%;
    height: 50%;
    text-align: center;
    font-size: 16px;
    margin-left: 130px;
    line-height: 37px;
}

#team{
    display: flex;
    justify-content: space-around;
}

img{
    object-fit: contain;
    border-radius: 250px;
}

#member1{
    width: 180px;
    height: 250px;
}

#member2{
    width: 180px;
    height: 250px;
}

#member3{
    width: 180px;
    height: 250px;
}

#member4{
    width: 180px;
    height: 250px;
}

#member5{
    width: 180px;
    height: 250px;
}

#footer{
    padding: 30px;
    justify-content: space-around;
    background-color: rgb(185, 234, 142);
    align-items: center;
    border-radius: 30px;
    line-height: 40px;
}